.header {
  overflow: hidden;
  background-color: black;
  padding: 10px 10px;
  font-family: "Arial Black", Black, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(124, 185, 55);
  border-radius: 5px;
  }
.content {
  padding: 16px
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
button {
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  color:  rgb(124, 185, 55);
  margin: 10px;
  background-color: black;
  transition-duration: 0.4s;
  border: 2px solid rgb(124, 185, 55);
  float: right;
  
}
button:hover {
  padding: 5px;
  border-radius: 5px;
  color: black;
  margin: 10px;
  background-color: rgb(124, 185, 55);
  border: 2px solid black
}