.header {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
  padding: 10px 10px;
  font-family: "Arial Black", Black, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ED6D51;
  border-radius: 5px;
  transition-duration: 1s;
  }
.header:hover {
  background-color:rgba(0, 0, 0, 0.151);
  color:#ED6D51;
}
.content {
  padding: 16px
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
button {
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  color: #191A1A;
  margin: 10px;
  background-color: #FDC649;
  transition-duration: 0.4s;
  border: 2px solid #232424;
  float: right;
  
}
button:hover {
  padding: 5px;
  border-radius: 5px;
  color: #191A1A;
  margin: 10px;
  background-color:#ED6D51;
  border: 2px solid #232424;
}
.header ul {
  font-family:Arial;
  font-weight: bold;
}
.header ul { 
  margin: 0 auto; 
  padding: 0; 
  list-style: none; 
  display: table;
  text-align: center;
}
.header li { 
  display: table-cell; 
  position: relative; 
  padding: 5px 0;
}
.header a {
  color: #FAFAFA;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 5px;
  position: relative;
}
.header a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #ED6D51;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header a:hover:after { 
  width: 100%; 
  left: 0; 
}