 p {
  color: rgb(130,130,130);
  text-align: left;
  font-family: Impact, Charcoal, sans-serif
 }
h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(240,240,240);
}
body {
  background-color: rgb(14, 14, 14);
}