 h4 {
  color: rgb(130,130,130);
  text-align: left;
  font-family: Impact, Charcoal, sans-serif;
  padding: 16px;
 }
 h5 {
  color: rgb(179, 179, 179);
  text-align: left;
  font-family: Impact, Charcoal, sans-serif;
  padding: 16px;
 }
h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(240,240,240);
  text-decoration: underline;
  text-align: center;
}
body {
  background-color: rgb(14, 14, 14);
}
p {
  color: rgb(200,200,200);
  font-family: Impact, Charcoal, sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

//pad logo image
img {
  padding-right: 30px;
}

//Add a bullet point before items with the class "list"
ul.list li ::before {
  content: "\2022";
  color: white;
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  padding-left: 0px;
  list-style: none;
}
ul {
  list-style: none;
}