@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}
html {
  font-family: Montserrat !important;
}
h1 {
  font-family: Montserrat !important;
}
h2 {
  font-family: Montserrat !important;
}
h4 {
  font-family: Montserrat !important;
}
h5 {
  font-family: Montserrat !important;
}
h6 {
  font-family: Montserrat !important;
}
a {
  font-family: Montserrat !important;
}
p {
  font-family: Montserrat !important;
}
ul {
  font-family: Montserrat !important;
}
 h2 {
  color: #FDC649;
  text-align: left;
  padding: 16px;
 }
 h3 {
  color: #ED6D51;
  text-align: left;
  padding: 16px;
 }
 h4 {
  color: #494346;
  text-align: left;
  padding: 16px;
 }
 h5 {
  color:#494346;
  text-align: left;
  padding: 16px;
 }
h1 {
  color: #199685;
  text-decoration: underline;
  text-align: center;
  padding: 20px;
}
body {
  background-color: rgb(14, 14, 14);
}
p {
  color: #232424;
  padding-left: 40px;
  padding-right: 40px;
}


img {
  padding-right: 30px;
}

ul.list li ::before {
  content: "\2022";
  color: #FAFAFA;
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  list-style: none;
}
ul {
  list-style: none;
  padding: 10;
  padding-left: 80px
}
a {
  color: #FDBC28;
  font-weight: lighter;

}
p {
  columns: 2;
  column-gap: 15px;
  column-rule: 1.3px solid #796f74;
}