 h2 {
  color: rgb(26, 26, 26);
  text-align: left;
  font-family: Impact, Charcoal, sans-serif;
  padding: 16px;
 }
 h3 {
  color: black;
  text-align: left;
  font-family: Impact, Charcoal, sans-serif;
  padding: 16px;
 }
 h4 {
  color:  rgb(26, 26, 26);
  text-align: left;
  font-family: Impact, Charcoal, sans-serif;
  padding: 16px;
 }
 h5 {
  color: rgb(26, 26, 26);
  text-align: left;
  font-family: Impact, Charcoal, sans-serif;
  padding: 16px;
 }
h1 {
  font-family: Impact, Charcoal, sans-serif;
  color:  rgb(26, 26, 26);
  text-decoration: underline;
  text-align: center;
  padding: 20px;
}
body {
  background-color: rgb(14, 14, 14);
}
p {
  color: rgb(200,200,200);
  font-family: Impact, Charcoal, sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}


img {
  padding-right: 30px;
}

ul.list li ::before {
  content: "\2022";
  color: white;
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  list-style: none;
}
ul {
  list-style: none;
  padding: 10;
  padding-left: 80px
}
a {
  color: black;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: lighter;
  font-style: oblique;

}