/*---------------------------- \
| Variables                     |
\-----------------------------*/
:root {
	--highlight-color: #30d1aea4;
	--text: black;
	--main-color: #eee;
	--secondary-color: #111;
	--tertiary-color: #444;
	--accents: #30d1ae;
	--accents-disabled: #20a187;
	--background: white;
	--box-shadow: #00000075;
}

.dark-mode {
	--highlight-color: #30d1aea4;
	--main-color: #101010;
	--secondary-color: #ddd;
	--tertiary-color: #777;
	--accents: #30d1ae;
	--accents-disabled: #20a187;
	--background: #101010;
	--text: white;
	--box-shadow: #ffffff75;
}
/*---------------------------- \
| z-indexing                   |
\-----------------------------*/
.searchbox-mobile {
	z-index: 0;
}
.mobile-menu-items {
	z-index: 15;
}
.mobile-header {
	z-index: 20;
}
.header {
	z-index: 20;
}
.heading {
	z-index: 25;
}
.menu-items {
	z-index: 18;
}
.menu {
	z-index: 18;
}
.page-content {
	z-index: -1;
}
.page-content a {
	z-index: -10;
}
/*---------------------------- \
| Main element styling         |
\-----------------------------*/
*::selection {
	background: var(--highlight-color);
	color: var(--text);
}

*::-moz-selection {
	background: var(--highlight-color);
	color: var(--text);
}

*::-webkit-selection {
	background: var(--highlight-color);
	color: var(--text);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: color, background-color 0.5s;
  scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
	overflow: overlay;
	min-height: 100vh;
	color: var(--text);
	background: var(--background);
}
p {
	margin: 24px 0;
}

body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-track {
	background: #00000015;
}

#img {
	border-radius: 5px;
}

#img:hover {
	box-shadow: 0 0 5px 0 var(--box-shadow);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--accents-disabled);
	border-radius: 20px;
}

details {
  border-radius: 5px;
  background: var(--accents);
  margin: 5px;
  padding: 5px;
}
details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--accents-disabled);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}

details[open] {
  padding: 10px;
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
}

summary {
  display: list-item;
  background-color: var(--accents);
  padding: 10px;
  margin: -10px -10px 0;
}

details > :not(summary) {
  margin-top: 0;
}

summary::-webkit-details-marker {
  color: var(--text-main);
}
footer{
	padding: 20px;
	background-color: var(--tertiary-color);
}
footer ul li, footer a{
	color: var(--accents);
	display: inline;
	margin: 0 auto;
	padding: 10px;
}
/*---------------------------- \
| Links                        |
\-----------------------------*/
.page-content a {
	color: var(--accents-disabled);
	transition-duration: 0.5s;
}

.page-content a:hover {
	color: var(--text);
}
.page-content a::before {
	opacity: .6;
  content: '';
  z-index: -100;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color:var(--accents);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.page-content a:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}

/*---------------------------- \
| Buttons                       |
\-----------------------------*/
.dark-button {
	position: -webkit-fixed;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 10000000;
	transition-duration: 0.5s;
	border: none;
	border-radius: 50%;
	background-color: transparent;
}

.dark-image {
	filter: invert(0);
	background-color: transparent;
	opacity: .4;
	transition: opacity 0.5s;
	width: 40px;
	height: 40px;
}

@media(max-width:500px) {
	.dark-image {
		width: 20px;
		height: 20px
	}
}

.dark-image:hover {
	opacity: .9;
}

.dark-mode .dark-image {
	filter: invert(100%);
}
/*---------------------------- \
| Buttons                       |
\-----------------------------*/

#button, #centered-button {
   color: var(--accents-disabled);
   background-color: transparent;
   border: 1px solid var(--accents);
   border-radius: 4px;
   padding: 0 15px;
   cursor: pointer;
   height: 32px;
   font-size: 14px;
   transition: all 0.2s ease-in-out;
   margin: 10px;
}
#button:hover {
  box-shadow: 1px 1px var(--accents), 2px 2px var(--accents-disabled), 3px 3px #53a7ea;
  transform: translateX(-3px);
}
#centered-button:hover {
  box-shadow: 1px 1px var(--accents), 2px 2px var(--accents-disabled), 3px 3px #53a7ea;
}
/*---------------------------- \
| Icons                         |
\-----------------------------*/
.iconify {
	width: 20px;
	height: auto;
}

/*---------------------------- \
| Header                       |
\-----------------------------*/
.page-content {
	max-width: 600px;
	min-width: 400px;
	margin: 0 auto;
	padding: 30px;
}

.header-container {
	position: absolute;
	width: 100%;
	margin-top: -200px;
	transition: all .4s;
}

.header-container header {
	margin-top: 200px;
}

.header-container.fixed {
	position: fixed;
	margin-top: 0px;
	right: 0;
	left: 0;
	background: var(--background);
	box-shadow: 0px 0px 23px 0px var(--box-shadow);
}

.header-container.fixed header {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
	text-align: center;
}

h1 {
	color: var(--text);
}

h2 {
	color: var(--secondary-color);
}

h3 {
	color: var(--accents-disabled);
}

h4 {
	color: var(--accents);
}

h5 {
	color: var(--tertiary-color)
}

/* Header */

header {
	display: flex;
	flex-direction: column;
}

header.scrolled {
	flex-direction: row;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}

header.scrolled .heading {
	box-shadow: unset;
	flex: 1;
}

header.scrolled h1 {
	font-size: 18px;
	padding: 0;
}

header.scrolled .menu-items {
	background: var(--background);
	flex: 3;
}

.heading {
	padding: 24px;
	box-shadow: 0px 0px 23px 0px var(--box-shadow);
}

.heading h1 {
	padding: 0 24px;
}

/* Menu Items */

.menu-items {
	background: var(--background);
}

.menu-items .container {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
}

.menu-items ul {
	display: flex;
	list-style: none;
}

.menu-items ul li {
	padding: 0 24px;
}

.menu-items a {
	color: var(--text);
	text-decoration: none;
}

.menu-items .container {
	position: relative;
}


/* Search Box */

.search-icon-desktop {
	cursor: pointer;
}

.searchbox-desktop {
	position: absolute;
	right: 0;
	top: 67px;
	opacity: 0;
	pointer-events: none;
	transform: all .4s;
}

.searchbox-desktop.active {
	pointer-events: auto;
	opacity: 1;
}

.searchbox-desktop input[type="text"] {
	height: 48px;
	width: 300px;
	border: none;
	border-bottom: 1px solid var(--accents);
	padding: 16px;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
}

.searchbox-desktop input[type="text"]:focus {
	outline: none;
}

/* Main */

main {
	padding: 180px 100px 0 100px;
	line-height: 2;
}

main img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

main h2 {
	padding: 16px 0;
}


/* Hide Mobile Menu */

.mobile-header,
.mobile-menu-items,
.searchbox-mobile {
	display: none;
}


/* Media Queries */

@media(max-width:900px) {
	main {
		padding: 24px;
		padding-top: 100px;
	}

	main h2 {
		padding: 0;
	}

	.header-container {
		display: none;
	}

	.mobile-header {
		display: block;
		position: fixed;
		width: 100%;
		background: var(--background);
	}

	.mobile-header .menu-icon,
	.mobile-header .search-icon,
	.mobile-header .fa-times {
		cursor: pointer;
	}

	.mobile-header header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		box-shadow: 0px 0px 23px 0px var(--box-shadow);
		align-items: center;
		padding: 0 32px;
	}

	.mobile-header i {
		font-size: 24px;
	}

	.mobile-header .heading {
		padding: 12px;
		box-shadow: unset;
	}

	.mobile-header h1 {
		font-size: 24px;
		font-weight: normal;
	}

	/* Mobile menu items */

	.mobile-menu-items {
		display: flex;
		background: var(--background);
		width: 100%;
		height: 100vh;
		position: fixed;
		text-align: center;
		align-items: center;
		justify-content: center;
		pointer-events: none;
		opacity: 0;
		transition: all .4s;
	}

	.mobile-menu-items ul {
		margin-top: 64px;
		list-style: none;
		transition: all .4s;
	}

	.mobile-menu-items a {
		text-decoration: none;
		font-size: 26px;
		color: var(--tertiary-color);
		letter-spacing: 8px;
		text-transform: uppercase;
	}

	.mobile-menu-items ul li {
		margin: 24px 0;
	}

	.mobile-menu-items.active {
		opacity: 1;
		pointer-events: auto;
	}

	.mobile-menu-items.active ul {
		margin-top: 0;
	}

	/* Mobile Searchbox */

	.fa-times {
		display: none;
	}

	.searchbox-mobile {
		position: fixed;
		width: 100%;
		display: block;
		padding-top: 0;
		transition: all .4s;
	}

	.searchbox-mobile.active {
		padding-top: 52px;
	}

	.searchbox-mobile input[type="text"] {
		width: 100%;
		height: 48px;
		padding: 0 16px;
		font-family: "Raleway", sans-serif;
		font-size: 16px;
		border: none;
		border-bottom: 1px solid #eee;
	}

	.searchbox-mobile input[type="text"]:focus {
		outline: none;
	}

}

/* Menu icon */
* {
	--menu-size: 3px;
}

.bar1,
.bar2,
.bar3 {
	width: calc(var(--menu-size)*7);
	height: var(--menu-size);
	background-color: var(--text);
	margin: calc(var(--menu-size)*1.2) 0;
	transition: 0.4s;
	border-radius: 50px;
}

.menu .bar1 {
	transform: rotate(-45deg) translate(calc(var(--menu-size)*-1), var(--menu-size));
}


.menu .bar2 {
	transform: translate(10px, 0);
	opacity: 0;
}

.menu .bar3 {
	transform: rotate(45deg) translate(calc(var(--menu-size)*-2), calc(var(--menu-size)*-2));
}